<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ichi2.anki"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <application
        android:name=".AnkiDroidApp"
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".ui.windows.managespace.ManageSpaceActivity"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_Light"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".LoginFirebaseActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.windows.managespace.ManageSpaceActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".DrawingActivity"
            android:configChanges="keyboardHidden|locale|orientation|screenSize|uiMode"
            android:exported="false"
            android:label="@string/drawing" />
        <activity
            android:name=".pages.PagesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|uiMode"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".IntentHandler"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|uiMode"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <!-- *.apkg matcher. NOTE: when pathPattern is used, host and scheme must also be specified -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- .apkg files -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.apkg"
                    android:scheme="file" />
                <!-- .colpkg files -->
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.colpkg"
                    android:scheme="file" />
            </intent-filter>
            <!-- MIME type matcher for .apkg files coming from providers like gmail which hide the file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/apkg" />
                <data android:mimeType="application/colpkg" />
                <data android:mimeType="application/vnd.anki" />
                <data android:mimeType="application/x-apkg" />
                <data android:mimeType="application/x-colpkg" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
            </intent-filter>

            <!-- Tasker DO_SYNC intent -->
            <intent-filter>
                <action android:name="com.ichi2.anki.DO_SYNC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeckPicker"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|uiMode"
            android:exported="false"
            android:theme="@style/Theme_Dark_Compat.Launcher" />
        <activity
            android:name=".StudyOptionsActivity"
            android:configChanges="keyboardHidden|locale|orientation|screenSize|uiMode"
            android:exported="false"
            android:label="StudyOptions"
            android:parentActivityName=".DeckPicker"></activity>
        <activity
            android:name=".CardBrowser"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="true"
            android:label="@string/card_browser"
            android:parentActivityName=".DeckPicker"
            android:theme="@style/Theme_Dark_Compat.Launcher">
            <intent-filter android:label="@string/card_browser">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "anki://x-callback-url/browser” -->
                <data
                    android:host="x-callback-url"
                    android:path="/browser"
                    android:scheme="anki" />
            </intent-filter>
        </activity> <!-- Context menu item name is the label, context is the system language -->
        <!-- Note: This appears to require that the target label is variable -->
        <activity
            android:name=".ModelBrowser"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/model_browser_label" />

        <activity
            android:name=".notetype.ManageNotetypes"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/model_browser_label" />
        <activity
            android:name=".ModelFieldEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:label="@string/model_editor_label" />
        <activity
            android:name=".Reviewer"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="true"
            android:parentActivityName=".DeckPicker"
            android:theme="@style/Theme_Dark_Compat.Launcher"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoPlayer"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".MyAccount"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/menu_my_account" />
        <activity
            android:name=".preferences.Preferences"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/LegacyActionBarLight">
            <intent-filter>
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeckOptionsActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/deckpreferences_title"
            android:theme="@style/LegacyActionBarLight" />
        <activity
            android:name=".FilteredDeckOptions"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/deckpreferences_title"
            android:theme="@style/LegacyActionBarLight" />
        <activity
            android:name=".Info"
            android:configChanges="locale|uiMode"
            android:exported="false"
            android:label="@string/pref_cat_about_title" />
        <activity
            android:name=".NoteEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="true"
            android:label="@string/fact_adder_intent_title"
            android:theme="@style/Theme_Dark_Compat.Launcher">
            <intent-filter>
                <action android:name="org.openintents.action.CREATE_FLASHCARD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".analytics.AnkiDroidCrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:process=":acra"
            android:theme="@style/Theme.CrashReportDialog" />

        <activity
            android:name=".Statistics"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:parentActivityName=".DeckPicker"></activity>
        <activity
            android:name=".Previewer"
            android:configChanges="locale|uiMode"
            android:exported="false"
            android:label="@string/preview_title" />
        <activity
            android:name=".CardTemplatePreviewer"
            android:configChanges="locale|uiMode"
            android:exported="false"
            android:label="@string/preview_title" />
        <activity
            android:name=".multimediacard.activity.MultimediaEditFieldActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/title_activity_edit_text"></activity>
        <activity
            android:name=".multimediacard.activity.LoadPronunciationActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/multimedia_editor_text_field_editing_say"></activity>
        <activity
            android:name=".CardTemplateEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/title_activity_template_editor"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name=".CardTemplateBrowserAppearanceEditor"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/card_template_browser_appearance_title" />
        <activity
            android:name=".CardInfo"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/card_info_title" />
        <activity
            android:name=".SharedDecksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|uiMode"
            android:label="@string/download_deck"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize|uiMode"
            android:exported="false"
            android:label="@string/menu_my_account" />
        <activity
            android:name=".IntroductionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity-alias
            android:name=".CardBrowserContextMenuAction"
            android:enabled="false"
            android:exported="true"
            android:label="@string/card_browser_context_menu"
            android:targetActivity=".CardBrowser">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias> <!-- TODO: Fix LockedOrientationActivity - introduction_layout.xml -->
        <activity-alias
            android:name=".AnkiCardContextMenuAction"
            android:enabled="true"
            android:exported="true"
            android:label="@string/context_menu_anki_card_label"
            android:targetActivity=".NoteEditor">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias> <!-- Service to perform web API queries -->
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" /> <!-- small widget -->
        <meta-data
            android:name="com.sec.minimode.icon.portrait.normal"
            android:resource="@drawable/ic_anki" /> <!-- "Add Note" widget -->
        <meta-data
            android:name="com.sec.minimode.icon.landscape.normal"
            android:resource="@drawable/ic_anki" />
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <provider
            android:name=".provider.CardContentProvider"
            android:authorities="com.ichi2.anki.flashcards"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="com.ichi2.anki.provider.spec"
                android:value="2" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ichi2.anki.apkgfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <receiver
            android:name="com.ichi2.widget.AnkiDroidWidgetSmall"
            android:exported="true"
            android:label="@string/widget_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_small" />
        </receiver> <!-- stuff for Samsung Multi-Window -->
        <receiver
            android:name="com.ichi2.widget.AddNoteWidget"
            android:exported="true"
            android:label="@string/menu_add_note">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_add_note" />
        </receiver>

        <receiver
            android:name=".receiver.SdCardReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".services.ReminderService"
            android:enabled="true"
            android:exported="false" />
        <!--
        Opt out of WebView Metrics: https://developer.android.com/guide/webapps/managing-webview#metrics
        https://developer.android.com/guide/webapps/webview-privacy
        -->
        <receiver
            android:name=".services.BootService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.ichi2.widget.AnkiDroidWidgetSmall$UpdateService" />
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />
    </application>
    <permission
        android:name="com.ichi2.anki.permission.READ_WRITE_DATABASE"
        android:description="@string/read_write_permission_description"
        android:label="@string/read_write_permission_label"
        android:protectionLevel="dangerous" />
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" /> <!-- Suggested if we add a TV Launcher icon. We do not use leanback currently -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="false" />

    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.GET_PACKAGE_SIZE"
        android:maxSdkVersion="25" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>